<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索栏</title>
    <link rel="stylesheet" href="/src/styles/base/variables.css">
    <link rel="stylesheet" href="/src/styles/base/display-page.css">
    <link rel="stylesheet" href="/src/styles/base/section.css">
    <link rel="stylesheet" href="/src/styles/components/bar/search-bar.css">
</head>
<body>
    <div class="container">
        
        <h2 class="category-title">白色背景</h2>

        <!-- 搜索栏-白色背景-有取消文字按钮 -->
        <section class="pad-vertical-0" role="search">
                <form class="search-bar white">
                    <div class="search-box">
                        <div class="search-icon">
                            <img src="/src/assets/images/search.png" alt="搜索" class="search-icon">
                        </div>
                        <input type="text" placeholder="请输入" class="search-input">
                        <div class="clear-btn">
                            <img src="/src/assets/images/clear.png" alt="清除" class="clear-icon">
                        </div>
                    </div>
                    <div class="cancel-btn">取消</div>
                </form>
        </section>    

        <div class="space-line"></div>

        <!-- 搜索栏-白色背景-无取消文字按钮-->
        <section class="pad-vertical-0" role="search">
                <form class="search-bar white">
                    <div class="search-box">
                        <div class="search-icon">
                            <img src="/src/assets/images/search.png" alt="搜索" class="search-icon">
                        </div>
                        <input type="text" placeholder="请输入" class="search-input">
                        <div class="clear-btn">
                            <img src="/src/assets/images/clear.png" alt="清除" class="clear-icon">
                        </div>
                    </div>
                </form>
        </section>

        <div class="space-line"></div>

        <!-- 搜索栏-白色背景-有图标按钮 -->
        <section class="pad-vertical-0" role="search">
            <form class="search-bar white">
                <div class="search-box">
                    <div class="search-icon">
                        <img src="/src/assets/images/search.png" alt="搜索" class="search-icon">
                    </div>
                    <input type="text" placeholder="请输入" class="search-input">
                    <div class="clear-btn">
                        <img src="/src/assets/images/clear.png" alt="清除" class="clear-icon">
                    </div>
                </div>
                <div class="action-btns">
                    <div class="action-btn">
                        <img src="/src/assets/images/icon24.png" alt="操作图标1" class="srch-fun-icon">
                    </div>
                    <div class="action-btn">
                        <img src="/src/assets/images/icon24.png" alt="操作图标2" class="srch-fun-icon">
                    </div>
                </div>
            </form>
        </section>

        <div class="space-line"></div>

        <h2 class="category-title">透明背景</h2>

        <!-- 搜索栏-透明背景-有取消文字按钮 -->
        <section class="section-transparent-vertical-0" role="search">
                <form class="search-bar transparent">
                    <div class="search-box">
                        <div class="search-icon">
                            <img src="/src/assets/images/search-white.png" alt="搜索" class="search-icon">
                        </div>
                        <input type="text" placeholder="请输入" class="search-input">
                        <div class="clear-btn">
                            <img src="/src/assets/images/clear.png" alt="清除" class="clear-icon">
                        </div>
                    </div>
                    <div class="cancel-btn">取消</div>
                </form>
        </section>    

        <div class="space-line"></div>

        <!-- 搜索栏-透明背景-无取消文字按钮-->
        <section class="section-transparent-vertical-0" role="search">
                <form class="search-bar transparent">
                    <div class="search-box">
                        <div class="search-icon">
                            <img src="/src/assets/images/search-white.png" alt="搜索" class="search-icon">
                        </div>
                        <input type="text" placeholder="请输入" class="search-input">
                        <div class="clear-btn">
                            <img src="/src/assets/images/clear.png" alt="清除" class="clear-icon">
                        </div>
                    </div>
                </form>
        </section>

        <div class="space-line"></div>

        <!-- 搜索栏-透明背景-有图标按钮 -->
        <section class="section-transparent-vertical-0" role="search">
                <form class="search-bar transparent">
                    <div class="search-box">
                        <div class="search-icon">
                            <img src="/src/assets/images/search-white.png" alt="搜索" class="search-icon">
                        </div>
                        <input type="text" placeholder="请输入" class="search-input">
                        <div class="clear-btn">
                            <img src="/src/assets/images/clear.png" alt="清除" class="clear-icon">
                        </div>
                    </div>
                    <div class="action-btns">
                        <div class="action-btn">
                            <img src="/src/assets/images/icon24.png" alt="操作图标1" class="srch-fun-icon">
                        </div>
                        <div class="action-btn">
                            <img src="/src/assets/images/icon24.png" alt="操作图标2" class="srch-fun-icon">
                        </div>
                    </div>
                </form>
        </section>

        
    </div>

    <!-- 引入JS文件 -->
    <script src="/src/js/bar/search-bar.js"></script>
</body>
</html> 