<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顶部tab菜单</title>
    <link rel="stylesheet" href="/src/styles/base/variables.css">
    <link rel="stylesheet" href="/src/styles/base/display-page.css">
    <link rel="stylesheet" href="/src/styles/base/section.css">
    <link rel="stylesheet" href="/src/styles/components/bar/top-tabs.css">
</head>
<body>
    <div class="container">
               
        <h2 class="category-title">一类Tabs</h2>
        <!-- 顶部选项卡-基础选项卡 -->
        <section class="pad-vertical-0">
                <nav class="top-tabs" data-default-index="0">
                    <div class="top-tabs-item active">
                        <div class="top-tabs-text">标题名称</div>
                        <div class="indicator"><img src="/src/assets/images/tab_on.png" class="tab_on_img"></div>
                    </div>
                    <div class="top-tabs-item">
                        <div class="top-tabs-text">标题名称</div>
                    </div>
                    <div class="top-tabs-item">
                        <div class="top-tabs-text">标题名称</div>
                    </div>
                    <div class="top-tabs-item">
                        <div class="top-tabs-text">标题名称</div>
                    </div>
                    <div class="top-tabs-item">
                        <div class="top-tabs-text">标题名称</div>
                    </div>
                </nav>
        </section>

        <h2 class="category-title">二类Tabs</h2>      
        <!-- 二类Tabs -->
        <section class="pad-vertical-0">
            <nav class="top-tabs" data-default-index="0">
                <div class="top-tabs-item active">
                    <div class="top-tabs-text">标题名称</div>
                    <div class="indicator"><img src="/src/assets/images/tab_on.png" class="tab_on_img"></div>
                </div>
                <div class="top-tabs-item">
                    <div class="top-tabs-text">标题名称</div>
                </div>
                <div class="top-tabs-item">
                    <div class="top-tabs-text">标题名称</div>
                </div>
                <div class="top-tabs-item">
                    <div class="top-tabs-text">标题名称</div>
                </div>
                <div class="top-tabs-item">
                    <div class="top-tabs-text">标题名称</div>
                </div>
            </nav>
        </section>

        <h2 class="category-title">一级Tabs</h2>        
        <!-- 主选项卡 -->
        <section class="pad-vertical-0">
            <nav class="top-tabs" data-default-index="0">
                <div class="top-tabs-item active">
                    <div class="top-tabs-text">标题名称</div>
                    <div class="indicator"><img src="/src/assets/images/tab_on.png" class="tab_on_img"></div>
                </div>
                <div class="top-tabs-item">
                    <div class="top-tabs-text">标题名称</div>
                </div>
            </nav>
        </section>
        
        <h2 class="category-title">二级Tabs</h2>
        <!-- 分段选项卡 -->
        <section class="pad-vertical-0">
            <div class="SegmentedButton">
                <div class="level-2 top-tabs" data-default-index="0">
                    <div class="top-tabs-item active">
                        <div class="top-tabs-text">标题</div>
                    </div>
                    <div class="top-tabs-item">
                        <div class="top-tabs-text">标题</div>
                    </div>
                    <div class="top-tabs-item">
                        <div class="top-tabs-text">标题</div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
    <script src="/src/js/bar/top-tabs.js"></script>
</body>
</html> 