<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>折叠器</title>
    <link rel="stylesheet" href="/src/styles/base/variables.css">
    <link rel="stylesheet" href="/src/styles/base/display-page.css">
    <link rel="stylesheet" href="/src/styles/base/section.css">
    <link rel="stylesheet" href="/src/styles/base/element.css">
</head>
<body>
    <div class="container">
        <h2 class="category-title">折叠器</h2> 
        <!-- 折叠器-只有图标 -->
        <section class="pad-vertical-0">
            <div class="accordion-header">
                <img src="/src/assets/images/expand.png" alt="展开" class="accordion-icon">
            </div>
        </section>
        
        <div class="space-line"></div>
        <!-- 折叠器-带文字 -->
        <section class="pad-vertical-0">
            <div class="accordion-header with-text">
                <span class="accordion-title">内容展开</span>
                <img src="/src/assets/images/expand.png" alt="展开" class="accordion-badge">
            </div>
        </section>
    </div>
    <script src="/src/js/base/element.js"></script>
</body>
</html> 