<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签按钮</title>
    <link rel="stylesheet" href="/src/styles/base/variables.css">
    <link rel="stylesheet" href="/src/styles/base/display-page.css">
    <link rel="stylesheet" href="/src/styles/base/section.css">
    <link rel="stylesheet" href="/src/styles/base/element.css">
    <link rel="stylesheet" href="/src/styles/components/base/tag-button.css">
</head>
<body>
    <div class="container">
        
        <h2 class="category-title">右侧漂浮按钮——产品详情</h2>
        <!-- 右侧漂浮按钮——产品详情 -->
        <section class="section-transparent-vertical-0">
            <div class="tag-button-row">
                <button class="detail-tag" href="javascript:void(0);">
                    <span>产品详情</span>
                    <img src="/src/assets/images/right arrow.png" class="icon-arrow" alt="箭头">
                </button>
            </div>
        </section>
            
        <h2 class="category-title">右侧漂浮按钮——回底部</h2>
        <!-- 右侧漂浮按钮——回底部 -->
        <section class="section-transparent-vertical-0">    
            <div class="tag-button-row">
                <button class="small-tag">
                    <img src="/src/assets/images/returnbottom.png" class="icon-up" alt="回到底部">
                    <span class="tag-text">回底部</span>
                </button>
            </div>
        </section>
    </div>
</body>
</html> 