<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>底部弹窗_文本式</title>
    <link rel="stylesheet" href="../../styles/base/variables.css">
    <link rel="stylesheet" href="../../styles/base/display-page.css">
    <link rel="stylesheet" href="../../styles/base/section.css">
    <link rel="stylesheet" href="../../styles/base/element.css">
    <link rel="stylesheet" href="../../styles/components/feedback/bottom-popup-text.css">
    <link rel="stylesheet" href="../../styles/components/feedback/bottom-popup-title.css">
    <link rel="stylesheet" href="../../styles/components/base/button/button-combination.css">
</head>
<body>
    <div class="container">
        <h2 class="category-title">底部弹窗-文本式-同意按钮默认状态</h2> 
        <div class="base-mask-demo">
            <div class="base-mask">
                <!-- 底部弹窗-文本式-同意按钮默认状态-->
                <section class="popup-container">
                    <div class="popup-panel">
                        <section class="section-popup-title">
                            <div class="popup-title-container">
                                <div class="popup-title-icon-wrapper">
                                    <img src="../../assets/images/icon24.png" alt="图标" class="popup-title-icon-img">
                                </div>
                                <div class="popup-title-main-text">请阅读并确认以下文件</div>
                                <div class="popup-title-action-btn"></div>
                            </div>
                        </section>
                        <div class="section">
                            <div class="fb-bottom-popup-content-container">
                            <p class="fb-bottom-popup-text">东莞银行（以下简称"我行"）尊重并保护用户（以下简称"您"）的隐私，您使用我行的服务时，我行将按照本隐私政策（以下简称"本政策"）收集、使用您的个人信息。同时，我行会通过本政策向您说明，我行如何为您提供访问、更新、控制和保护您信息的服务，若您向我行提供了本政策中列明的信息，您可享受更便捷、更便捷的服务，让我行更好地保护您的账户及资金安全，避免我行无法及时发现被欺诈而产生对您不利的影响。</p>
                            <p class="fb-bottom-popup-text">第一条 信息收集与使用</p>
                            <p class="fb-bottom-popup-text">为了您可以正常使用东莞银行信服务，在下列情形中我行有需要收集您的一些信息，用以向您提供服务，提升我行的服务质量，保障您的账户和资金安全以及执行国家法律法规及监管规定：</p>
                            <p class="fb-bottom-popup-text">1. 在法律法规允许的范围内，我行可能会以下不同形式中收集并使用您的个人信息且无需征得您的授权同意：</p>
                            </div>
                        </div>
                        <!-- 全宽按钮 -->
                        <section id="combo-full-width" class="section">
                            <div class="btn-group">
                                <button class="btn-large btn-primary">
                                    <span class="btn-text">我已阅读并同意</span>
                                </button>
                            </div>
                        </section>
                        <div class="bottom-bar">
                            <div class="popup-indicator"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <h2 class="category-title">底部弹窗-文本式-按钮禁用状态</h2>
        <!-- 底部弹窗-文本式-按钮禁用状态 -->
        <div class="base-mask-demo">
            <div class="base-mask">
                <section class="popup-container">
                    <div class="popup-panel">
                        <section class="section-popup-title">
                            <div class="popup-title-container">
                                <div class="popup-title-icon-wrapper">
                                    <img src="../../assets/images/icon24.png" alt="图标" class="popup-title-icon-img">
                                </div>
                                <div class="popup-title-main-text">请阅读并确认以下文件</div>
                                <div class="popup-title-action-btn"></div>
                            </div>
                        </section>
                        <div class="section">
                            <div class="fb-bottom-popup-content-container">
                            <p class="fb-bottom-popup-text">东莞银行（以下简称"我行"）尊重并保护用户（以下简称"您"）的隐私，您使用我行的服务时，我行将按照本隐私政策（以下简称"本政策"）收集、使用您的个人信息。同时，我行会通过本政策向您说明，我行如何为您提供访问、更新、控制和保护您信息的服务，若您向我行提供了本政策中列明的信息，您可享受更便捷、更便捷的服务，让我行更好地保护您的账户及资金安全，避免我行无法及时发现被欺诈而产生对您不利的影响。</p>
                            <p class="fb-bottom-popup-text">第一条 信息收集与使用</p>
                            <p class="fb-bottom-popup-text">为了您可以正常使用东莞银行信服务，在下列情形中我行有需要收集您的一些信息，用以向您提供服务，提升我行的服务质量，保障您的账户和资金安全以及执行国家法律法规及监管规定：</p>
                            <p class="fb-bottom-popup-text">1. 在法律法规允许的范围内，我行可能会以下不同形式中收集并使用您的个人信息且无需征得您的授权同意：</p>
                            </div>
                        </div>
                        <!-- 全宽按钮 -->
                        <section id="combo-full-width" class="section">
                            <div class="btn-group">
                                <button class="btn-large btn-primary btn-disabled" disabled>
                                    <span class="btn-text">我已阅读并同意</span>
                                </button>
                            </div>
                        </section>
                        <div class="bottom-bar">
                            <div class="popup-indicator"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html> 