<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>交易密码</title>
    <link rel="stylesheet" href="/src/styles/base/variables.css">
    <link rel="stylesheet" href="/src/styles/base/display-page.css">
    <link rel="stylesheet" href="/src/styles/base/section.css">
    <link rel="stylesheet" href="/src/styles/base/element.css">
    <link rel="stylesheet" href="/src/styles/components/feedback/bottom-popup-password.css">
    <link rel="stylesheet" href="/src/styles/components/feedback/bottom-popup-title.css">
    <link rel="stylesheet" href="/src/styles/components/bar/phone-speaker.css">
</head>
<body>
    <div class="container">
        
        <h2 class="category-title">底部弹窗-交易密码-基础</h2>
        <!-- 底部弹窗-交易密码-基础 -->
        <div class="base-mask-demo">
            <div class="base-mask"></div>
            <div class="popup-container">
                <section class="password-popup__container">
                    <section class="section-popup-title">
                        <div class="popup-title-container">
                            <div class="popup-title-icon-wrapper">
                                <img src="/src/assets/images/icon24.png" alt="图标" class="popup-title-icon-img">
                            </div>
                            <div class="popup-title-main-text">标题文本</div>
                            <div class="popup-title-action-btn"></div>
                        </div>
                    </section>

                    <div class="password-popup__content">
                        <div class="password-popup__account-info">
                            <div class="password-dots-container">
                                <div class="password-input-title">请输入账户 6234 **** 0987 交易密码</div>
                                <div class="password-dots-row">
                                    <input type="password" value="" maxlength="1">
                                    <input type="password" value="" maxlength="1">
                                    <input type="password" value="" maxlength="1">
                                    <input type="password" value="" maxlength="1">
                                    <input type="password" value="" maxlength="1">
                                    <input type="password" value="" maxlength="1">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <h2 class="category-title">底部弹窗-交易密码-有错误提示</h2>
        <!-- 底部弹窗-交易密码-有错误提示-->
        <div class="base-mask-demo">
            <div class="base-mask"></div>
            <div class="popup-container">
                <section class="password-popup__container">
                    <section class="section-popup-title">
                        <div class="popup-title-container">
                            <div class="popup-title-icon-wrapper">
                                <img src="/src/assets/images/icon24.png" alt="图标" class="popup-title-icon-img">
                            </div>
                            <div class="popup-title-main-text">标题文本</div>
                            <div class="popup-title-action-btn"></div>
                        </div>
                    </section>

                    <div class="password-popup__content">
                        <div class="password-popup__content">
                            <div class="password-popup__account-info">
                                <div class="password-dots-container">
                                    <div class="password-input-title">请输入账户 6234 **** 0987 交易密码</div>
                                    <div class="password-dots-row">
                                        <input type="password" value="1" maxlength="1">
                                        <input type="password" value="2" maxlength="1">
                                        <input type="password" value="3" maxlength="1">
                                        <input type="password" value="4" maxlength="1">
                                        <input type="password" value="5" maxlength="1">
                                        <input type="password" value="6" maxlength="1">
                                    </div>
                                </div>
                                <div class="input-error">展示错误提示语</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
        <h2 class="category-title">交易密码弹窗-有辅助提示</h2>
        <!-- 交易密码弹窗-有辅助提示 -->
        <div class="base-mask-demo">
            <div class="base-mask"></div>
            <div class="popup-container">
                <section class="password-popup__container">
                    <section class="section-popup-title">
                        <div class="popup-title-container">
                            <div class="popup-title-icon-wrapper">
                                <img src="/src/assets/images/icon24.png" alt="图标" class="popup-title-icon-img">
                            </div>
                            <div class="popup-title-main-text">标题文本</div>
                            <div class="popup-title-action-btn"></div>
                        </div>
                    </section>

                    <div class="password-popup__content">
                        <div class="password-popup__content">
                            <div class="password-popup__account-info">
                                <div class="password-dots-container">
                                    <div class="password-input-title">请输入账户 6234 **** 0987 交易密码</div>
                                    <div class="password-dots-row">
                                        <input type="password" value="1" maxlength="1">
                                        <input type="password" value="2" maxlength="1">
                                        <input type="password" value="3" maxlength="1">
                                        <input type="password" value="4" maxlength="1">
                                        <input type="password" value="5" maxlength="1">
                                        <input type="password" value="6" maxlength="1">
                                    </div>
                                </div>
                                <div class="input-tip">展示辅助提示语</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html> 