<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>操作表单底部弹窗</title>
    <link rel="stylesheet" href="/src/styles/base/variables.css">
    <link rel="stylesheet" href="/src/styles/base/display-page.css">
    <link rel="stylesheet" href="/src/styles/components/feedback/bottom-popup-actionsheet.css">
    <link rel="stylesheet" href="/src/styles/base/element.css">
    <link rel="stylesheet" href="/src/styles/base/section.css">
</head>
<body>
    <div class="container">
        <h2 class="category-title">底部弹窗-操作表单-基础</h2>
        <div class="base-mask-demo">
            <div class="base-mask"></div>
            <!-- 底部弹窗-操作表单-基础 -->
            <div class="popup-container">
                <section class="popup-actionsheet__container">
                    <div class="popup-actionsheet__wrapper">
                        <div class="popup-actionsheet__buttons">
                            <button class="popup-actionsheet__button">按钮</button>
                            <button class="popup-actionsheet__button">按钮</button>
                            <button class="popup-actionsheet__button">按钮</button>
                            <button class="popup-actionsheet__button">按钮</button>
                            <button class="popup-actionsheet__button">按钮</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <h2 class="category-title">底部弹窗-操作表单-最后一个是取消按钮</h2> 
        <!-- 底部弹窗-操作表单-最后一个是取消按钮 -->
        <div class="base-mask-demo">
            <div class="base-mask"></div>
            <div class="popup-container">
                <section class="popup-actionsheet__container">
                    <div class="popup-actionsheet__wrapper">
                        <div class="popup-actionsheet__buttons">
                            <button class="popup-actionsheet__button">按钮</button>
                            <button class="popup-actionsheet__button">按钮</button>
                            <button class="popup-actionsheet__button">按钮</button>
                            <button class="popup-actionsheet__button popup-actionsheet__button--separated">取消</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html> 