<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>复杂弹层</title>
    <link rel="stylesheet" href="/src/styles/base/variables.css">
    <link rel="stylesheet" href="/src/styles/base/display-page.css">
    <link rel="stylesheet" href="/src/styles/components/feedback/complex-dialog.css">
    <link rel="stylesheet" href="/src/styles/base/section.css">
    <link rel="stylesheet" href="/src/styles/base/element.css">
</head>
<body>
    <div class="container">
        <h2 class="category-title">弹层组件-长文本类型</h2>  
        <div class="base-mask-demo">
            <div class="base-mask"></div>
            <div class="dialog-popup-container">
                <!-- 弹层组件-长文本类型 -->
                <section class="cdlg-container">
                    <div class="cdlg-wrapper">
                        <div class="cdlg-title">提示标题</div>
                        <div class="cdlg-content cdlg-content--scrollable">
                            我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容我是提示内容
                        </div>
                        <div class="cdlg-footer">
                            <button class="cdlg-action-btn">按钮</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <h2 class="category-title">弹层组件-卡片信息类型</h2>
        <div class="base-mask-demo">
            <div class="base-mask"></div>
            <div class="dialog-popup-container">
                <!-- 弹层组件-卡片信息类型 -->
                <section class="cdlg-container">
                    <div class="cdlg-wrapper">
                        <div class="cdlg-title">提示标题</div>
                        <div class="cdlg-content">
                            我是提示内容我是提示内容。
                        </div>
                        <div class="cdlg-card-container">
                            <img src="/src/assets/images/img001.png" alt="回单信息" class="cdlg-card-image">
                        </div>
                        <div class="cdlg-footer">
                            <button class="cdlg-action-btn">按钮</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>  
    </div>
</body>
</html> 