<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>产品详情</title>
    <link rel="stylesheet" href="/src/styles/base/variables.css">
    <link rel="stylesheet" href="/src/styles/base/display-page.css">
    <link rel="stylesheet" href="/src/styles/base/section.css">
    <link rel="stylesheet" href="/src/styles/base/element.css">
    <link rel="stylesheet" href="/src/styles/components/business/product-detail.css">
</head>
<body>
    <div class="container">

        <h2 class="category-title">产品详情-两栏布局</h2>
        <!-- 产品详情组件 - 两栏布局 -->
        <section class="pad-top-0">
            <div class="product-detail-button-container">
                <button class="detail-tag" href="javascript:void(0);">
                    <span>产品详情</span>
                    <img src="/src/assets/images/right arrow.png" class="product-detail-arrow-icon" alt="箭头">
                </button>
            </div>
            <section class="product-detail-header-container">
                <div class="product-detail-title-container">
                    <div class="product-detail-main-title">产品名称产品名称产品名称</div>
                    <div class="product-detail-sub-title">(产品代码)</div>
                </div>
            </section>
            <div class="product-detail-amount">200,000.00</div>
            <div class="product-detail-amount-label">标题文本(元)</div>
            <section class="product-detail-sub-amount-container two-columns">
                <div class="product-detail-sub-amount-item-container">
                    <span class="product-detail-sub-amount">0.00</span>
                    <span class="product-detail-sub-amount-label">标题文本(元)</span>
                </div>
                <div class="product-detail-sub-amount-item-container">
                    <span class="product-detail-sub-amount">0.00</span>
                    <span class="product-detail-sub-amount-label">标题文本(元)</span>
                </div>
            </section>
        </section>

        <h2 class="category-title">产品详情-三栏布局</h2>
        <!-- 产品详情组件 - 三栏布局 -->
        <section class="pad-top-0">
            <div class="product-detail-button-container">
                <button class="detail-tag" href="javascript:void(0);">
                    <span>产品详情</span>
                    <img src="/src/assets/images/right arrow.png" class="product-detail-arrow-icon" alt="箭头">
                </button>
            </div>
            <section class="product-detail-header-container">
                <div class="product-detail-title-container">
                    <div class="product-detail-main-title">产品名称产品名称产品名称</div>
                    <div class="product-detail-sub-title">(产品代码)</div>
                </div>
            </section>
            <div class="product-detail-amount">200,000.00</div>
            <div class="product-detail-amount-label">标题文本(元)</div>
            <section class="product-detail-sub-amount-container">
                <div class="product-detail-sub-amount-item-container">
                    <span class="product-detail-sub-amount">0.00</span>
                    <span class="product-detail-sub-amount-label">标题文本(元)</span>
                </div>
                <div class="product-detail-sub-amount-item-container">
                    <span class="product-detail-sub-amount">0.00</span>
                    <span class="product-detail-sub-amount-label">标题文本(元)</span>
                </div>
                <div class="product-detail-sub-amount-item-container">
                    <span class="product-detail-sub-amount">0.00</span>
                    <span class="product-detail-sub-amount-label">标题文本(元)</span>
                </div>
            </section>
        </section>

        
        <h2 class="category-title">产品详情-两栏布局-有图标和带下拉箭头的一般提示</h2>
        <!-- 产品详情组件 - 两栏布局带图标和提示 -->
        <section class="section">
            <section class="product-detail-header-container">
                <div>
                    <div class="product-detail-title-container">
                        <div class="product-detail-main-title">产品名称产品名称产品名称</div>
                        <div class="product-detail-sub-title">(产品代码)</div>
                    </div>
                    <div class="product-detail-features-container">
                        <span>产品属性</span>
                        <span>|</span>
                        <span>产品属性</span>
                    </div>
                </div>
                <div>
                    <img src="/src/assets/images/detailquotatag02.png" alt="额度充足" class="detail-quota-tag">
                </div>
            </section>
            <section class="product-detail-sub-amount-container two-columns">
                <div class="product-detail-sub-amount-item-container">
                    <span class="product-detail-sub-amount">0.00</span>
                    <span class="product-detail-sub-amount-label">标题文本(元)</span>
                </div>
                <div class="product-detail-sub-amount-item-container">
                    <span class="product-detail-sub-amount">0.00</span>
                    <span class="product-detail-sub-amount-label">标题文本(元)</span>
                </div>
            </section>
            <div class="product-detail-expand-container">
                <div class="option-row">
                    <div class="normal-tip collapsible-tip">
                        <div class="tip-content-gray">展示概要描述展示概要描述，展示概要描述展示概要描述展示概要描述，展示概要描述。</div>
                        <img src="/src/assets/images/expands.png" alt="图标" class="info-icon tip-toggle-icon">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/src/js/base/element.js"></script>
</body>
</html> 