<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>常规列表组件</title>
    <link rel="stylesheet" href="/src/styles/base/variables.css">
    <link rel="stylesheet" href="/src/styles/base/display-page.css">
    <link rel="stylesheet" href="/src/styles/base/section.css">
    <link rel="stylesheet" href="/src/styles/base/element.css">
</head>
<body>
    <div class="container">
        <h2 class="category-title">明细列表</h2>
        <section class="pad-vertical-0">
            <!-- 组件：明细列表项 -->
            <div class="regular-list-item">
                <div class="regular-list-type-container">操作</div>
                <div class="regular-list-content-container">
                    <div class="regular-list-title">标题文本(附属要素)</div>
                    <div class="regular-list-subtitle">左侧摘要描述</div>
                 </div>
                <div class="regular-list-amount-container">
                     <div class="regular-list-value">份额/金额信息</div>
                    <div class="regular-list-status regular-list-status-success">右侧摘要描述</div>
                </div>
            </div>
            <div class="regular-list-item">
                <div class="regular-list-type-container">撤单</div>
                <div class="regular-list-content-container">
                    <div class="regular-list-title">产品名称(产品代码)</div>
                    <div class="regular-list-subtitle">2023/01/01 00:00:00</div>
                </div>
                <div class="regular-list-amount-container">
                    <div class="regular-list-value">100.00份</div>
                    <div class="regular-list-status regular-list-status-success">成功</div>
                </div>
            </div>
            <div class="regular-list-item">
                <div class="regular-list-type-container">撤单</div>
                <div class="regular-list-content-container">
                    <div class="regular-list-title">产品名称(产品代码)</div>
                    <div class="regular-list-subtitle">2023/01/01 00:00:00</div>
                </div>
                <div class="regular-list-amount-container">
                    <div class="regular-list-value">100.00份</div>
                    <div class="regular-list-status regular-list-status-success">成功</div>
                </div>
            </div>
        </section>    
        <div class="space-line"></div>
        <section class="pad-vertical-0">
            <!-- 组件：明细列表项（无类型） -->
            <div class="regular-list-item">
                <div class="regular-list-content-container">
                    <div class="regular-list-title">标题文本(附属要素)</div>
                    <div class="regular-list-subtitle">左侧摘要描述</div>
                 </div>
                <div class="regular-list-amount-container">
                     <div class="regular-list-value">份额/金额信息</div>
                    <div class="regular-list-status regular-list-status-success">右侧摘要描述</div>
                </div>
            </div>
            <div class="regular-list-item">
                <div class="regular-list-content-container">
                    <div class="regular-list-title">非柜面转账(对方账号5954)</div>
                    <div class="regular-list-subtitle">2023/01/01 00:00:00</div>
                 </div>
                <div class="regular-list-amount-container">
                     <div class="regular-list-value">-100.00</div>
                    <div class="regular-list-status regular-list-status-success">余额 3,000.00</div>
                </div>
            </div>
            <div class="regular-list-item">
                <div class="regular-list-content-container">
                    <div class="regular-list-title">非柜面转账(对方账号5954)</div>
                    <div class="regular-list-subtitle">2023/01/01 00:00:00</div>
                 </div>
                <div class="regular-list-amount-container">
                     <div class="regular-list-value">-100.00</div>
                    <div class="regular-list-status regular-list-status-success">余额 3,000.00</div>
                </div>
            </div>
        </section>
        <div class="space-line"></div>
        <h2 class="category-title">常规列表</h2>
        <section class="pad-vertical-0">
            <!-- 模块标题 -->
            <div class="regular-list-module-header">模块标题</div>
            <!-- 常规列表项 -->
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
        </section>
        <div class="space-line"></div>
        <section class="pad-vertical-0">
            <!-- 常规类标无标题-->
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="regular-list-row">
                <div class="regular-list-row-title">标题文本</div>
                <div class="regular-list-row-value">返显信息</div>
            </div>
            <div class="accordion-header">
                <img src="/src/assets/images/expand.png" alt="展开" class="accordion-icon">
            </div>
        </section>
        <div class="space-line"></div>
    </div>
</body>
</html> 